@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  /*Primary Colors*/

  --Red: #ea5353;
  --Cyan: #45d3d3;
  --Orange: #fcaf4a;
  --Blue: #549ef2;
  --Blanco: #fff;

  /*Neutral Colors*/

  --Very-dark-blue: #4d4f61;
  --Grayish-Blue: #a3a5ae;
  --Very-Light-Gray: #fafafa;
}
body {
  background-color: var(--Very-Light-Gray);
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 90px 30px;
}
.tittleOne {
  font-weight: 200;
  font-size: 27px;
  color: var(--Very-dark-blue);
  padding-bottom: 10px;
  text-align: center;
}
.tittleTwo {
  font-size: 27px;
  font-weight: 600;
  color: var(--Very-dark-blue);
  padding-bottom: 20px;
  text-align: center;
}
.textTittle {
  line-height: 25px;
  text-align: center;
  font-size: 17px;
  padding-bottom: 80px;
  color: var(--Grayish-Blue);
}
.boxOne,
.boxTwo,
.boxThree,
.boxFour {
  margin-bottom: 25px;
  background-color: var(--Blanco);
  box-shadow: -2px 2px 12px -3px rgba(180, 179, 179, 0.75);
  border-radius: 8px;
}
.boxOne {
  border-top: 4px solid var(--Cyan);
}
.boxTwo {
  border-top: 4px solid var(--Red);
}
.boxThree {
  border-top: 4px solid var(--Orange);
}
.boxFour {
  border-top: 4px solid var(--Blue);
}
.nameBox {
  font-size: 20px;
  font-weight: 600;
  color: var(--Very-dark-blue);
  padding: 25px 25px 10px 25px;
}
.textBox {
  color: var(--Grayish-Blue);
  font-size: 13px;
  line-height: 25px;
  padding: 0 25px 40px;
}

.imgSupervisor,
.imgTeamBuilder,
.imgKarma,
.imgCalculator {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 35px 30px;
}
@media (min-width: 900px) {
  .containerFather {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boxOne {
    margin-right: 30px;
    height: 45%;
    width: 25%;
  }
  .boxTwoandThree {
    height: 45%;
    width: 25%;
  }
  .boxFour {
    margin-left: 30px;
    height: 40%;
    width: 25%;
  }
  .containerTittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tittleOne,
  .tittleTwo {
    font-size: 35px;
  }
  .textTittle {
    text-align: center;
    width: 60%;
  }
}
